@page "/"
@using Dashboard.Core.DTOs
@using Donation.Web.Services
@inject DonationService DonationService
<section class="main-section">
    <div class="floating-start-box">
        <div class="circle-img c1">
            <img src="./images/thumbs/11.jpg" />
        </div>

        <div class="circle-img c2">
            <img src="./images/thumbs/22.jpg" />
        </div>
    </div>

    <div class="centerized-box">
        <span class="hashtag">#اللاذقية_نحن_أهلها</span>
        <h1>
            <span class="r"><span class="text-primary">اللاذقية </span> <span class="text-secondary"> نحن أهلها </span></span>
            <span class="r"> راجع سجلاتك بسهولة</span>
        </h1>
        <div class="action-container">
            <a class="btn btn-mata" href="#search">ابدأ البحث</a>
        </div>
        <div class="action-container">
            <a class="btn btn-mata" href="/projects">تصفح المشاريع</a>
        </div>
@*         <div class="action-container">
            <a class="btn" href="#form-section">ابدأ البحث</a>
        </div> *@

        <p> 
            لأن الوطن بحاجة الجميع,<br />
            <span class="text-primary"> لأن اللاذقية  </span><span class="text-secondary"> نحن أهلها </span><br />
            و معا سويا سنعيد إعمارها <br />
            و نجعلها أجمل
        </p>
    </div>


    <!-- SHAKKER - DO NOT CHANGE THESE IMAGES BELOW: -->
    <div class="floating-back-box">
        <div class="circle-img c1">
            <img src="./images/blr1.jpg" />
        </div>

        <div class="circle-img c2">
            <img src="./images/blr2.jpg" />
        </div>

        <div class="circle-img c3">
            <img src="./images/blr3.jpg" />
        </div>
    </div>
    <!-- SHAKKER - DO NOT CHANGE THESE IMAGES ABOVE : -->

    <div class="floating-end-box">
        <div class="circle-img c1">
            <img src="./images/thumbs/33.jpg" />
        </div>

        <div class="circle-img c2">
            <img src="./images/thumbs/44.jpg" />
        </div>
        <div class="circle-img c2">
            <img src="./images/thumbs/55.jpg" />
        </div>

    </div>

    <div class="container mb-4 d-md-none d-block">
        <div class="row">
            <div class="col-4">
                <img src="./images/thumbs/11.jpg" class="w-100 rounded-xl" />
            </div>
            <div class="col-4">
                <img src="./images/thumbs/33.jpg" class="w-100 rounded-xl" />
            </div>
            <div class="col-4">
                <img src="./images/thumbs/44.jpg" class="w-100 rounded-xl" />
            </div>
        
        </div>
    </div>







     
</section>

<section class="steps-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="step-item">
                    <span>١. احفظ الكود بعد التبرع في مكان آمن</span>
                    <img src="./images/step1.png" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step-item">
                    <span>٢. ادخل الكود في أرشيف البحث</span>
                    <img src="./images/step2.png" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step-item">
                    <span>٣. راجع تفاصيل وسجلات تبرعاتك</span>
                    <img src="./images/step3.png" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-2 order-md-1">
          <div class="content">
            <p>
                        مبادرة اللاذقية، نحن أهلها

                        جاءت هذه المبادرة من إيماننا العميق بأن مدينة اللاذقية هي لنا، بعد أن تحررت من عصابات الإجرام. وانطلاقًا من هذا الإيمان وما يترتب عليه من مسؤوليات، قررنا إطلاق هذه المبادرة للنهوض بمدينتنا الجميلة، وإعادة إعمارها، لنستعيد ملامحها الحضارية التي سُلبت منها.
            </p>
            <p>
                        تهدف المبادرة إلى توحيد الجهود بين أهالي المدينة الكرام لتنفيذ مشاريع خدمية تعود بالنفع على جميع سكانها، وتسهم في تحسين جودة الحياة واستعادة رونق اللاذقية.
                    </p>
          </div>
        </div>

        <div class="col-md-6 order-1 order-md-2">
          <img src="./images/logo-w.svg" class="logo" />
        </div>
      </div>
      </div>
    </section>
 

<section id="search" class="form-section">
    <div class="container">
        <div class="row" style="align-items: center">
            <div class="col-md-5">
                <img src="./images/logo.svg" class="logo" />
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-6">
                <EditForm Model="@searchModel" OnValidSubmit="@SearchDonation" class="search-form">
                    <label>ادخل الكود:</label>
                    <InputText @bind-Value="searchModel.Code" 
                            type="text"
                           name="code"
                           placeholder="كود التبرع"
                           class="input-mata"
                           required />
                    <button type="submit" class="btn btn-mata">بحث</button>
                </EditForm>
                @if (showTransactionInfo)
                {
                    <section id="transaction-info" class="search-form">
                        <div class="container">
                            <h2>معلومات المعاملة</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>كود المعاملة</th>
                                        <th>المبلغ</th>
                                        <th>العملة</th>
                                        <th>التاريخ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @*     @foreach (var transaction in transactions)
                                    { *@
                                        <tr>
                                            <td>@trx.Code</td>
                                           <td>@trx.Amount.ToString("N0")</td>
                                            <td>@trx.Currency</td>
                                            <td>@trx.CreatedDate.ToString("yyyy-MM-dd")</td>
                                        </tr>
                                  @*   } *@
                                </tbody>
                            </table>
                        </div>
                    </section>
                }
                <div   class="send-form">
                    <h2>....شارك معنا للمساهمة</h2>
                    <div class="row">
                        <p>للمساهمة، يرجى تحويل المبلغ المراد دعم مدينتا الحبيبة به عن طريق البنك التجاري .</p>
                        <h2>حساب الحملة :</h2>
                        <h2>7282272101243872</h2>
                        <p>يرجى التأكد من حصولك على رقم تسلسلي للحوالة بحيث يمكنك تفقد معلومات تبرعك لاحقا عن طريق منصتنا</p>
                        
                    </div>
                  @*   <div class="text-end">
                        <a href="/donate" class="btn btn-mata">تبرع</a>
                    </div> *@
       
                </div>
            </div>
        </div>
    </div>
</section>
@code {
    private bool showTransactionInfo = false;
    private DonationSearchModel searchModel = new();
    private TransactionDTO trx;
    private WalletDTO wallet;

    private async Task SearchDonation()
    {
        wallet = await DonationService.GetTransactionByCode(searchModel.Code);
        trx = wallet?.Transactions?.FirstOrDefault();
        if (trx != null)
        {
            ToggleTransactionInfo();
        }
    }

    public class DonationSearchModel
    {
        public string Code { get; set; }
    }
    private void ToggleTransactionInfo()
    {
        showTransactionInfo = !showTransactionInfo;

    }

}
@code {

    private List<TransactionDTO> transactions = new List<TransactionDTO>
    {
        new TransactionDTO { Code = "1", Amount = 100,Currency="USD", CreatedDate = DateTime.Now,Comment="t comment " },
        new TransactionDTO { Code = "2", Amount = 200,Currency="SYP", CreatedDate = DateTime.Now.AddDays(-1) ,Comment="t comment 2 " }
    };


 
}