@page "/projects"
@* @inject ProjectService ProjectService *@

<section class="main-section">
    <div class="centerized-box">
        <h1>
            <span class="r"><span class="text-primary">المشاريع </span> <span class="text-secondary"> قادمة قريباً </span></span>
        </h1>
        <p>
            سيتم عرض المشاريع في وقت لاحق حال الانتهاء من تنفيذها.
        </p>
        <p>
            كامل الشكر و التقدير لجهودكم المبذولة في سبيل بناء بلدنا .
        </p>
        <div class="action-container">
            <a class="btn btn-mata" href="/">الرجوع إلى الصفحة الرئيسية</a>
        </div>
    </div>
</section>

@* @foreach (var project in ProjectService.GetProjects())
{
    <div class="project-card">
        <img src="@project.ImageUrl" alt="@project.Name" />
        <h4>@project.Name</h4>
        <p>@project.Description</p>
        <p><strong>Cost: </strong>@project.Cost.ToString("C")</p>
    </div>
}
 *@
@code {
    protected override void OnInitialized()
    {
        // Fetch projects from the service
    }
}