@page "/donation-search"
@using Dashboard.Core.DTOs
@using Donation.Web.Services
@inject DonationService DonationService

<h3>Search for Your Donation</h3>

<EditForm Model="@searchModel" OnValidSubmit="@SearchDonation">
    <InputText @bind-Value="searchModel.Code" placeholder="Enter your donation code" />
    <button type="submit">Search</button>
</EditForm>

@if (trx != null)
{
    <div>
        <h4>Donation Details</h4>
        <p>Amount: @trx.Amount</p>
        <p>Currency: @wallet.Currency.Code</p>
        <p>Date: @trx.CreatedDate.ToShortDateString()</p>
    </div>
}

@code {
    private DonationSearchModel searchModel = new();
    private TransactionDTO trx;
    private WalletDTO wallet;

    private async Task SearchDonation()
    {
        wallet =await  DonationService.GetTransactionByCode(searchModel.Code);
        trx = wallet.Transactions.FirstOrDefault();
    }

    public class DonationSearchModel
    {
        public string Code { get; set; }
    }
}